/*Обнуление*/
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------*/
html,body {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	background-color: #FFFFFF;
	color: #000000;
	/* scroll-behavior: smooth; */
}
img {
  display: block;
}
a {
	text-decoration: none;
	color:#000000;
}

/*Wrapper*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/*Container*/
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1560px;
	width: 100%;
}
@media (max-width: 1600px) {
	.container {
		max-width: 1320px;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 1080px; 
	}
}
@media (max-width: 960px) {
	.container {
		max-width: 900px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

/*Header*/
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 46px 0 16px 0;
	background-color: #ffffff;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 846px;
	width: 100%;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 310px;
	width: 100%;
}
.logo__logo-muk {
	max-width: 107px;
	width: 100%;
}
.logo__logo-fortinet {
	max-width: 134px;
	width: 100%;
}
.menu {
	max-width: 400px;
	width: 100%;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style: none;
}
.menu__link {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	transition: .3s ease;
}
.menu__link:hover {
	color: #DA291C; 
	text-decoration: underline;
}
 
@media (max-width: 767px) {
	.header {
		padding: 59px 0;

	}
	.header__body {
		flex-direction: column;
		justify-content: center;
	}
	.header__logos {
		margin-bottom: 37px;
	}
	.logos {
		max-width: 330px;
	}
}

/* about */

.about {
	/* height: 871px; */
	margin: 96px 0 56px;
	/* padding-top: 160px;
	background-image: url("img/baner-1-test.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 1062px 871px; */
}
.about__body {
	position: relative;
	display: flex;
	/* justify-content: space-between; */
	z-index: 2;
}
.about__left-side {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding-top: 155px;
	max-width: 647px;
	width: 100%;
	margin-right: 16px;
}
.about__left-side::before {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	width: 28px;
	height: 282px;
	background: rgba(240, 240, 240, 0.7);
	z-index: -1;
}
.about__left-side::after {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	right: 0;
	width: 200px;
	height: 30px;
	background: #DA291C;
	z-index: -1;
}


.about__sup-title {
	font-size: 20px;
	line-height: 24px;
	color: #9063CD;
	margin-bottom: 16px;
}
.about__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	margin-bottom: 44px;
	max-width: 530px;
}
.about__sub-title {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 24px;
}
.about__list {
	list-style: none;
	margin-bottom: 38px;
}
.about__list li {
	position: relative;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 13px;
	padding-left: 50px;
}
.about__list li::before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 40px;
	height: 4px;
	background: #2CCCD3;
}
.about__list li:last-child {
	margin-bottom: 0;
}
.about__descr {
	display: flex;
	align-items: start;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 304px;
	height: 65px;
	color: #FFFFFF;
	background: #DA291C;
	z-index: 1;
	transition: .3s ease;
}
.about__btn {
	margin-right: 53px;
}
.btn:hover {
	color: #000000;
}
.btn::after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 13px;
	width: 304px;
	height: 65px;
	background: inherit;
	opacity: .4;
	z-index: -1;
}
.about__date-and-time p {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
.about__date-and-time p span {
	color: #DA291C;
}
.about__date {
	margin-bottom: 10px;
}
.about__right-side {
	/* margin-right: -175px; */
	/* position: absolute;
	top: 0;
	right: 0; */
	/* max-width: 944px; */
	/* height: 795px; */
	/* width: 100%; */
}
.about__img-1 {
	max-width: 1062px;
	width: 100%;
}
.about__img-2 {
	max-width: 785px;
	width: 100%;
	display: none;
}
.about__img-3 {
	max-width: 495px;
	width: 100%;
	display: none;
}
.about__img-4 {
	max-width: 336px;
	width: 100%;
	display: none;
}

@media (max-width: 1600px) {
	.about__img-1 {
		display: none;
	}
	.about__img-2 {
		display: block;
	}
}
@media (max-width: 1200px) {
	.about__left-side {
		max-width: 620px;
	}
	.about__date-and-time p {
		font-size: 18px;
		line-height: 22px;
	}
	.about__img-2 {
		display: none;
	}
	.about__img-3 {
		display: block;
	}
}
@media (max-width: 960px) {
	.about__left-side {
		padding-top: 105px;
	}	
	.about__img-3 {
		display: none;
	}
	.about__img-4 {
		display: block;
	}

}
@media (max-width: 884px) {
	.about {
		margin: 213px 0 50px;
	}
	.about__body {
		justify-content: center;
	}
	.about__left-side {
		align-items: center;
		text-align: center;
		margin-right: 0;
		padding-top: 0;
	}
	.about__left-side::after, .about__left-side::before {
		display: none;
	}
	.about__sub-title {
		margin-bottom: 35px;
	}
	.about__list {
		margin-bottom: 28px;
	}
	.about__list li {
		margin-bottom: 30px;
		padding-left: 0;
	}
	.about__list li::before {
		top: -10px;
		left: calc(50% - 20px);
	
	}
	.about__descr {
		flex-direction: column;
		align-items: center;
	}
	.btn::after {
		display: none;
	}
	.about__btn {
		margin-bottom: 25px;
		margin-right: 0;
	}
	.about__right-side {
		display: none;
	}
}      


/* useful */


.useful {
	padding-bottom: 144px;
}
.title {
	font-weight: 500;
	font-size: 50px;
	line-height: 61px;
	color: #000000;
}
.useful__peoples-container {
	max-width: 1284px;
	width: 100%;
	margin: 70px auto 0;
	display: flex;
	justify-content: space-between;
}
.people {
	position: relative;
	max-width: 328px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px 24px;
	border: 1px solid #307FE2;
	
}
.people--first {
	border-radius: 25% 0 0 0;
}
.people--first::after {
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	right: -40px;
	width: 64px;
	height: 40px;
	background-image: url("img/people-element-1.png");  
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.people--second::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 7px;
	left: -48px;
	width: 116px;
	height: 11px;
	background: rgba(48, 127, 226, 0.7);
}
.people--third {
	border-radius: 0 25% 0 0;
}
.people--third::after {
	content: '';
	display: block;
	position: absolute;
	top: -16px;
	left: -25px;
	width: 57px;
	height: 32px;
	background-image: url("img/people-element-3.png");  
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.people__img {
	max-width: 143px;
	width: 100%;
	margin-bottom: 14px;
}
.people__text {
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
}
@media (max-width: 1200px) {
	.useful {
		padding-bottom: 97px;
	}
	.title {
		font-size: 40px;
		line-height: 48px;
	}
	.useful__peoples-container {
		max-width: 1050px;
	}
	.people {
		max-width: 240px;
		padding: 30px 24px;
	}
	.people--second::after {
		width: 90px;
		height: 7px;
	}
	.people__img {
		max-width: 96px;
	}
	.people__text {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 960px) {
	.useful {
		padding-bottom: 77px;
	}
	.useful__peoples-container {
		max-width: 866px;
		margin-top: 50px;
	}
	.people {
		max-width: 200px;
		padding: 20px 17px;
	}
	.people--first::after {
		right: -12px;
		width: 35px;
		height: 24px; 
	}
	.people--second::after {
		width: 42px;
		height: 4px; 
		left: -16px;
	}
	.people--third::after {
		width: 44px;
		height: 24px; 
		left: -15px;
		top: -12px;
	}
	.people__img {
		max-width: 64px;
	}
	.people__text {
		font-size: 16px;
		line-height: 19px;
	}
}
@media (max-width: 767px) {
	.useful {
		padding-bottom: 50px;
	}
	.useful__peoples-container {
		max-width: none;
		flex-direction: column;
		align-items: center;
		margin-top: 45px;
	}
	.title {
		text-align: center;
		font-size: 30px;
		line-height: 36px;
	}
	.people {
		max-width: 270px;
		padding: 30px 22px;
		margin-bottom: 25px;
	}
	.people:last-child {
		margin-bottom: 0;
	}
	.people--first::after {
		right: -16px;
		width: 64px;
		height: 39px; 
	}
	.people--second::after {
		width: 94px;
		height: 7px; 
		left: -28px;
	}
	.people--third::after {
		width: 57px;
		height: 32px; 
		left: -23px;
		top: calc(50% - 16px);
	}
	.people__img {
		max-width: 96px;
	}
	.people__text {
		font-size: 18px;
		line-height: 22px;
	}
}

/* gifts */

.gifts {
	position: relative;
	padding: 86px 0 96px;
	background-image: url("img/gifts-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #ffff;
}
.gifts::after {
	content: '';
	display: block;
	position: absolute;
	top: 26px;
	right: 95px;
	width: 194px;
	height: 98px;
	background-image: url("img/gifts-elem.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.gifts__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1374px;
}
.gifts__text-block {
	margin-right: 30px;
	max-width: 900px; 
}
.gifts__title {
	color: #ffff;
	margin-bottom: 20px;
}
.gifts__text {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 32px;
}
.gifts__text:last-child {
	margin-bottom: 0;
}
.timer {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.timer__title {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 20px;
}
.timer__num {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
}
.gifts__btn {
	margin-top: 20px;
	background: #9063CD;
}
@media (max-width: 1800px) {
	.gifts::after {
		display: none;
	}
}
@media (max-width: 1600px) {
	.gifts__body {
		max-width: 1204px;
	}
	.gifts__text-block {
		max-width: 704px; 
	}	
}
@media (max-width: 1200px) {
	.gifts__body {
		max-width: 985px;
	}
	.gifts__text-block {
		max-width: 565px; 
	}	
	.gifts__text {
		font-size: 20px;
		line-height: 24px;
	}
	.gifts__btn {
		width: 239px;
		height: 50px;
		font-size: 18px;
		line-height: 22px;
	}
	.gifts__btn::after {
		width: 239px;
		height: 50px;
	}
}
@media (max-width: 900px) {
	.gifts__body {
		max-width: 792px;
	}
	.gifts__text-block {
		max-width: 495px; 
	}	
	.gifts__text {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;     
	}
}
@media (max-width: 767px) {
	.gifts {
		padding: 50px 0;
	}
	.gifts__body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: none;
	}
	.gifts__text-block {
		max-width: 498px; 
		margin-right: 0;
		text-align: center;
		margin-bottom: 30px;
	}	
	.gifts__text {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 10px;
	}
}

/* prgoram */

.program {
	padding: 100px 0;
}
.program__title {
	margin-bottom: 60px;
}
.program__items {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1320px;
	width: 100%;
}
.program__item {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1;
}
.program__item::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 276px;
	height: 42px;
	background: #6DF1F6;
	z-index: -1;
}
.program__time {
	font-weight: 600;
	font-size: 80px;
	line-height: 97px;
	/* -webkit-text-stroke: 1px #000000;
	-webkit-text-fill-color: #ffffff;
	text-stroke: 1px #000000; */
	text-shadow:
	-1px -1px 0 #000,  
	 1px -1px 0 #000,
	 -1px 1px 0 #000,
		1px 1px 0 #000;
	color: #ffffff;
	mix-blend-mode: multiply;
	margin-right: 15px;
}
.program__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
@media (max-width: 1600px) {
	.program__items {
		max-width: none;
	}
}
@media (max-width: 1200px) {
	.program__item::before {
		width: 240px;
		top: -17px;
	}
	.program__time {
		font-size: 50px;
		line-height: 61px;
		margin-right: 12px;
	}
	.program__text {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 900px) {
	.program__item::before {
		width: 200px;
		top: -22px;
	}
	.program__time {
		font-size: 40px;
		line-height: 48px;
		margin-right: 12px;
	}
	.program__text {
		font-size: 16px;
		line-height: 19px;
	}
}
@media (max-width: 767px) {
	.program {
		padding: 50px 0;
	}
	.program__title {
		margin-bottom: 65px;
	}
	.program__items {
		flex-direction: column;
		justify-content: center;
		max-width: 264px;
		margin: 0 auto;
	}
	.program__item {
		margin-bottom: 30px;
	}
	.program__item:last-child {
		margin-bottom: 0;
	}
	.program__item::before {
		width: 200px;
		top: -22px;
	}
}

/* presentation */
.presentation {
	padding: 100px 0;
	background: #F0F0F0;
}
.presentation__body {
	position: relative;
}
.presentation__body::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 116px;
	height: 162px;
	background-image: url("img/presetation-elem-1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
.presentation__body::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -41px;
	right: 0;
	width: 200px;
	height: 41px;
	background-image: url("img/presetation-elem-2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
.presentation__title {
	margin-bottom: 60px;
} 
.presentation__content {
	position: relative;
	display: flex;
	align-items: center;
}

.presentation__video {
	position: relative;
	min-width: 608px;                
	height: 340px;
	margin-right: 160px;
}
.presentation__video::after {
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 5px;
	height: 123px;
	background: #DA291C;
}
.presentation__video::before {
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 123px;
	height: 5px;
	background: #DA291C;
}
.presentation__text-block {
	max-width: 512px;
}
.presentation__text-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 25px;
}
.presentation__text {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}
.presentation__text:last-child {
	margin-bottom: 0;
}
@media (max-width: 1600px) {
	.presentation__video {
		margin-right: 86px;
	}
	.presentation__text-title {
		font-size: 25px;
		line-height: 30px;
	}
	.presentation__text {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 1200px) {
	.presentation__body::before {
		width: 84px;
		height: 117px;
	} 
	.presentation__body::after {
		width: 140px;
		height: 29px;
	} 
	.presentation__video {
		min-width: 510px;
		height: 285px;
		margin-right: 80px;
	}
	.presentation__video::after {
		right: -9px;
		bottom: -9px;
		width: 3px;
		height: 76px;
	}
	.presentation__video::before {
		right: -9px;
		bottom: -9px;
		width: 76px;
		height: 3px;
	}
	.presentation__text-block {
		max-width: 418px;
	}
	.presentation__text {
		font-size: 16px;
		line-height: 19px;
	}
}
@media (max-width: 960px) {
	.presentation {
		padding: 77px 0;
	}
	.presentation__content {
		align-items: start;
	}
	.presentation__video {
		min-width: 420px;
		height: 235px;
		margin-right: 30px;
	}
	.presentation__video::after {
		right: -7px;
		bottom: -7px;
		height: 64px;
	}
	.presentation__video::before {
		right: -7px;
		bottom: -7px;
		width: 64px;
	}
}
@media (max-width: 767px) {
	.presentation {
		padding: 50px 0;
	}
	.presentation__body::before {
		display: none;
	} 
	.presentation__body::after {
		display: none;
	} 
	.presentation__title {
		margin-bottom: 45px;
	}
	.presentation__content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.presentation__video {
		min-width: 470px;
		height: 263px;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.presentation__video::after {
		display: none;
	}
	.presentation__video::before {
		display: none;
	}
}

/* registration */
.registrtion {
	padding: 90px 0;
	background: #DA291C;
	color: #ffffff;
}
.registration__body {
	position: relative;
}
.registration__body::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 161px;
	height: 98px;
	background-image: url("img/registration-elem-1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.registration__body::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 93px;
	height: 79px;
	background-image: url("img/registration-elem-2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.registration__title {
	margin-bottom: 45px;
	color: #ffffff;
}
.registration__content {
	display: flex;
	max-width: 1395px;
	justify-content: space-between;
}
.registration__form {
	margin-right: 30px;
}
.form {
	min-width: 558px;
}
.form__input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.form__label {
	font-weight: 400;
	font-size: 22px;
	line-height: 137.02%;
	margin-bottom: 8px;
}
.form__input {
	height: 47px;
	padding: 5px 25px;
	font-size: 22px;
	line-height: 137.02%;
	color: #7B7B7B;
	outline: 0;
	border: 2px solid transparent;
}
.form__input::placeholder {
	font-weight: 400;
	font-size: 22px;
	line-height: 137.02%;
	color: transparent;
}
.form__input:focus {
	border-color: #000000;
}
.form__checkbox-label {
	/* display: flex;
	align-items: center; */
}
.form__checkbox-input {
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
	display: none;
}
.form__checkbox-custom {
	position: relative;
	display: inline-block;	
	width: 20px;
	height: 20px;
	border-radius: 15%;
	border: 2px solid #ffffff;
	margin-right: 24px;
}
.form__checkbox-custom::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 8px;
	background-image: url("img/checkbox-arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0;
	transition: .3s ease;
}
.form__checkbox-input:checked + .form__checkbox-custom::before  {
	opacity: 1;
}




